.items-container {
  border: 1px solid gray;
  padding: 15px 15px;
  border-radius: 5px;
  position: relative;
  height: 620px;
}
.items img {
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
}
.items p {
  font-size: 18px;
  color: black;
  margin-top: 5px;
  margin-bottom: 5px;
}
.updat-info {
  position: absolute;
  bottom: 10px;
}
.updat-info button {
  margin-right: 10px;
  padding: 5px 30px;
  border: none;
  font-size: 16px;
  border-radius: 5px;
}
.delete {
  background-color: #fecaca;
}
.edit {
  background-color: #bbf7d0;
}
