.manage-item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.add-new {
  display: flex;
  justify-content: center;
}
.add-new button {
  font-size: 18px;
  color: #fff;
  padding: 12px 25px;
  border-radius: 5px;
  border: none;
  background-color: #0d6efd;
}

/* responsive tablet */

@media screen and (max-width: 768px) {
  .manage-item {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* responsive mobile */
@media screen and (max-width: 425px) {
  .manage-item {
    display: inline-block;
  }
}
