.inventories-containet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
  gap: 30px;
}
.count-container {
  display: flex;
  justify-content: flex-end;
}
.count-page button {
  font-size: 18px;
  margin-right: 10px;
  border: 2px solid orange;
  background-color: #fff;
}
.btn-peges {
  font-size: 18px;
  margin-right: 10px;
  border: 2px solid orange;
  background-color: #fff;
}
/* responsive tablet */
@media screen and (max-width: 991px) {
  .inventories-containet {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* responsive mobile */
@media screen and (max-width: 425px) {
  .inventories-containet {
    display: inline-block;
  }
}
