.inventories-containet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 50px;
  gap: 30px;
}

/* responsive tablet */
@media screen and (max-width: 768px) {
  .inventories-containet {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* responsive mobile */
@media screen and (max-width: 425px) {
  .inventories-containet {
    display: inline-block;
  }
}
