.signIn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sign-in {
  width: 450px;
  border: 1px solid gray;
  padding: 15px;
  border-radius: 5px;
}
.sign-in label {
  font-size: 18px;
  margin: 15px 0 0 0;
}
.sign-in input {
  width: 100%;
  font-size: 18px;
  padding: 7px;
  display: block;
}
.submit {
  margin: 20px 0 10px 0;
  font-size: 18px;
  padding: 8px;
  border: none;
  color: #fff;
  border-radius: 5px;
  background-color: #0d6efd;
}
/* responsive mobile */
@media screen and (max-width: 425px) {
  .sign-in {
    width: 100%;
  }
}
