.nav-bar {
  background-color: #622eee;
}
.logo {
  width: 115px;
  padding: 10px;
}
.menu-bar div a {
  font-size: 18px;
  margin-left: 20px;
  color: #fff;
}
.logout-btn {
  border: none;
  color: #fff;
  margin-left: 5px;
  background-color: #622eee;
}

/* responsive tablet */
@media screen and (max-width: 991px) {
  .menu-bar div a {
    margin-left: 0;
  }
  .logout-btn {
    margin-left: 0;
    padding-left: 0;
    display: flex;
  }
}
