.product-container {
  height: 600px;
  position: relative;
  border: 1px solid gray;
  border-radius: 6px;
}
.stock-update {
  position: absolute;
  width: 100%;
  bottom: 0;
}
.stock-update button {
  width: 100%;
  position: relative;
  border: none;
  border-radius: 0 0 5px 5px;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  transition: 0.5s;
  overflow: hidden;
  background-color: #357ce6;
}
.stock-update button::after {
  position: absolute;
  width: 50%;
  height: 100%;
  content: "";
  top: 0;
  left: -50%;
  transition: 0.8s;
  border-radius: 0 0 0 5px;
  background-color: #0d6efd;
}
.stock-update button:hover::after {
  position: absolute;
  left: 0;
  transition: 0.8s;
}
.stock-update button::before {
  position: absolute;
  width: 50%;
  height: 100%;
  content: "";
  top: 0;
  right: -50%;
  transition: 0.8s;
  border-radius: 0 0 5px 0;
  background-color: #086bff;
}
.stock-update button:hover::before {
  position: absolute;
  right: 0;
  transition: 0.8s;
}

.products {
  border-radius: 5px;
  padding: 10px 10px;
}
.products h4 {
  margin-top: 10px;
}
.book-img {
  width: 100%;
  text-align: center;
}
.book-img img {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.products p {
  font-size: 16px;
  margin-bottom: 8px;
}
.btn-text {
  position: relative;
  z-index: 2;
}

/* responsive mobile */
@media screen and (max-width: 425px) {
  .product-container {
    margin-bottom: 30px;
  }
}
